/* body {
  font-size: .875rem;
} */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav--image {
  height: 100px;
  width:100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 25px;
  border: 3px solid white;
  box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px rgb(85, 147, 126),
      0 0 42px rgb(43, 109, 87)
}

.header {
  background-color: black;
  display: flex;
  padding: 25px;
  align-items: center;
}

.header--title {
  font-family: Bebas Neue, sans-serif;
  font-size: 50px;
  font-style: italic;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  position:relative; 
  z-index:1;
  margin-right: 75px;
  margin-left: 20px;
}
.active {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.header--icon--list {
  margin-right: auto;
}

.header--icon--list > li {
  margin-right: 70px;
  display: inline;
}

.header--icon {
  font-size: 2.7rem;
  color: white;
  position:relative; 
  z-index:0;
  cursor: pointer;
}

.header--icon:hover {
  color: #fff;
  text-shadow:
      0 0 14px #fff,
      0 0 20px #fff,
      0 0 42px #fff,
      0 0 84px #0fa,
      0 0 164px #0fa,
      0 0 184px #0fa,
      0 0 204px #0fa,
      0 0 300px #0fa; 
}


.header--text {
  color: white;
}

.header--signout > li {
  display: inline;
  margin-right: 70px;
}

.header--signout {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}


.first{
  /* position:absolute; */
  border:1px solid red;
}
.second{
 border:2px solid blue;
 /* width:40%;
 height:200px; */
position: relative;
 top: 75px;
}