.profile-content {
  height: 80%;
  width: 100%;
  display: flex;
  display: flex;
  padding: 3rem;
}

.profile-box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.profile-info {
  flex: 4;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info-username-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid white;
}

.profile-info-img.sm {
  height: 60px;
  width: 60px;
  border: 2px solid white;
}

.profile-info-text {
  font-family: Bebas Neue, sans-serif;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  font-size: 2rem;
}
.profile-info-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-text.username {
  font-size: 3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.winslosses {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.profile-info-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info-submit .btn-home {
  font-size: 1.2rem;
}
.profile-info-submit .btn-play {
  font-size: 1rem;
  margin-top: 1rem;
}

.last-games {
  flex: 3;
  margin-right: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-item {
  background: grey;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Bebas Neue, sans-serif;
  background-color: rgba(85, 198, 89, 0.4);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 95%;
}

.match-item > * {
  margin-right: 1.3rem;
}

.image-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-username:hover {
  opacity: 0.8;
}

.match-item p {
  margin-bottom: 0;
}

.match-score {
  display: flex;
  align-items: center;
  font-size: 2.3rem;
}

.friend-list {
  flex: 3;
  color: white;
}
